{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<div class="container ">
    <h2 class="center header col s12 dark">VoiceUp Team</h2>
    <br>
    <div class="row">
            <div class="col s12 m4">
              <div class="card hoverable medium grey lighten-3">
                <div class="card-image">
                  <img class="responsive" src="{% static 'main/images/Pradhyumna3.jpeg' %}">
                </div>
                <div class="card-content">
                  <h6 class="center-align name">Pradhyumna Rao</h6>
                  <p class="center-align about">B-Tech CSE/3rd Year</p>
                </div>
                <div class="card-action">
                    <a href="https://www.instagram.com/pradhyumna.rao/" target="_blank" ><img src="{% static 'main/images/ig.png' %}" alt="Logo" class="logo2"></a>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=pradhyumnarao2000@gmail.com" target="_blank" ><img src="{% static 'main/images/gmail.jpg' %}" alt="Logo" class="logo3"></a>
                    <a href="https://www.facebook.com/pradhyumna.rao.167" target="_blank" ><img src="{% static 'main/images/fb.png' %}" alt="Logo" class="logo1"></a> 
                </div>     
              </div>
            </div>

            <div class="col s12 m4">
                <div class="card hoverable medium grey lighten-3">
                  <div class="card-image">
                    <img class="responsive" src="{% static 'main/images/Ashutosh.jpeg' %}">
                  </div>
                  <div class="card-content">
                    <h6 class="center-align name">Ashutosh Sahni</h6>
                    <p class="center-align about">B-Tech CSE/3rd Year</p>
                  </div>
                  <div class="card-action">
                    <a href="https://www.instagram.com/ashutoshsahni9/" target="_blank" ><img src="{% static 'main/images/ig.png' %}" alt="Logo" class="logo2"></a>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=ashutoshsahni9@gmail.com" target="_blank" ><img src="{% static 'main/images/gmail.jpg' %}" alt="Logo" class="logo3"></a>
                    <a href="https://www.facebook.com/ashutosh.sahni.9" target="_blank" ><img src="{% static 'main/images/fb.png' %}" alt="Logo" class="logo1"></a> 
                    </div>  
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card hoverable medium grey lighten-3">
                  <div class="card-image">
                    <img class="responsive" src="{% static 'main/images/Akshita.jpeg' %}">
                  </div>
                  <div class="card-content">
                    <h6 class="center-align name">Akshita Kesar</h6>
                    <p class="center-align about">B-Tech CSE/3rd Year</p>
                  </div>
                  <div class="card-action">
                    <a href="https://www.instagram.com/akshitakesar/" target="_blank" ><img src="{% static 'main/images/ig.png' %}" alt="Logo" class="logo2"></a>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=akshitakesar@gmail.com" target="_blank" ><img src="{% static 'main/images/gmail.jpg' %}" alt="Logo" class="logo3"></a>
                    <a href="https://www.facebook.com/profile.php?id=100010797642679" target="_blank" ><img src="{% static 'main/images/fb.png' %}" alt="Logo" class="logo1"></a> 
                  </div>  
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card hoverable medium grey lighten-3">
                  <div class="card-image">
                    <img class="responsive" src="{% static 'main/images/Rohan.jpeg' %}">
                  </div>
                  <div class="card-content">
                    <h6 class="center-align name">Rohan Saini</h6>
                    <p class="center-align about">B-Tech Mechanical/3rd Year</p>
                  </div>
                  <div class="card-action">
                    <a href="https://www.instagram.com/therohansaini/" target="_blank" ><img src="{% static 'main/images/ig.png' %}" alt="Logo" class="logo2"></a>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=rohansaini1442@gmail.com" target="_blank" ><img src="{% static 'main/images/gmail.jpg' %}" alt="Logo" class="logo3"></a>
                    <a href="https://www.facebook.com/rohan.saini.165" target="_blank" ><img src="{% static 'main/images/fb.png' %}" alt="Logo" class="logo1"></a> 
                  
                </div>    
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card hoverable medium grey lighten-3">
                <div class="card-image">
                    <img class="responsive" src="{% static 'main/images/Vishnu1.jpeg' %}">
                </div>
                <div class="card-content">
                  <h6 class="center-align name">Vishnupriya Arora</h6>
                  <p class="center-align about">B-Tech CSE/2nd Year</p>
                </div>
                <div class="card-action">
                    <a href="https://www.instagram.com/damnitvee/" target="_blank" ><img src="{% static 'main/images/ig.png' %}" alt="Logo" class="logo2"></a>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=vishnupriyaaroraa@gmail.com" target="_blank" ><img src="{% static 'main/images/gmail.jpg' %}" alt="Logo" class="logo3"></a>
                    <a href="https://www.facebook.com/vishnupriyaaroraa" target="_blank" ><img src="{% static 'main/images/fb.png' %}" alt="Logo" class="logo1"></a> 
                </div>
              </div>
            </div>

            
            <div class="col s12 m4">
                <div class="card hoverable medium grey lighten-3">
                <div class="card-image">
                    <img class="responsive" src="{% static 'main/images/Aanshi.png' %}">
                </div>
                <div class="card-content">
                  <h6 class="center-align name">Aanshi Pal</h6>
                  <p class="center-align about">BA LLB/3rd Year</p>
                </div>
                <div class="card-action">
                    <a href="https://www.instagram.com/aanshi2106/" target="_blank" ><img src="{% static 'main/images/ig.png' %}" alt="Logo" class="logo2"></a>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=palaanshi32@gmail.com" target="_blank" ><img src="{% static 'main/images/gmail.jpg' %}" alt="Logo" class="logo3"></a>
                    <a href="hhttps://www.facebook.com/aanshi.pal" target="_blank" ><img src="{% static 'main/images/fb.png' %}" alt="Logo" class="logo1"></a> 
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<br>
<style>
  h2{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
  }
  .logo1{
      cursor: pointer;
      margin-right: auto;
      margin-bottom: auto;
      float: right;
      height: 33px;
  }
  .logo2{
      cursor: pointer;
      margin-right: auto;
      margin-bottom: auto;
      float: left;
      height: 30px;
  }   
  .logo3{
      cursor: pointer;
      margin-right: auto;
      margin-left: 50px;
      margin-bottom: auto;
      height: 30px;
  } 
  .card .card-content{
    padding: 12px;
  } 
  .name{
    color: #000000 ;
    font-weight: bolder;
    font-family: monospace;
    font-size: larger;
  }
  .about{
    color: #000000;
    font-weight:470;
    font-family: Georgia, serif;
  }
            

</style>


{% endblock %}